/* Define color theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #33333d;
    --text-color: #fff;
    --highlight-color: #ffab40;
    /* html syntax hightligth */
    --html-comment: #6a9955;
    --html-tag: #569cd6;
    --html-key: #9cdcfe;
    --html-equal-sign: #ccc;
    --html-value: #ce9178;
    --html-unicode: #569cd6;
    /*--shadow-color: #999;
    --highlight: #cdcdcd;
    --primary: hsl(12, 70%, 50%);*/
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f5f3ed;
    --text-color: #000;
    --highlight-color: #ffab40;
    /* html syntax hightligth */
    --html-comment: #008000;
    --html-tag: #800000;
    --html-key: #e50000;
    --html-equal-sign: #3b3b3b;
    --html-value: #0000ff;
    --html-unicode: #0000ff;
  }
}

/* GCW Popup */
#gcw_popup {
  position: fixed;
  display: none;
  top: 3em;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  width: min-content;
  background: var(--background-color);
  color: var(--text-color);
  padding: 1em;
  border-radius: 1em;
  z-index: 1001;
}

#gcw_popup_msg {
  color: var(--text-color);
  white-space: nowrap;
}

/* Analyze Page */
#gcw_analyze {
  position: fixed;
  display: none;
  top: 0;
  overflow-y: scroll;
  background: var(--background-color);
  color: var(--text-color);
  height: calc(100% - 2em); /* (100% - padding) */
  width: calc(100% - 8em); /* (100% - padding) */
  padding: 1em 4em;
  z-index: 1000;
}

#gcw_analyze h1 {
  margin: 0.5em 0;
}

#gcw_analyze a {
  color: var(--highlight-color)
}

#gcw_analyze_owner {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1em;
}

#gcw_analyze_listing {
  border: 2px solid var(--highlight-color);
  padding: .5em;
}

#gcw_analyze_listing legend {
  padding: 0 0.5em;
}

.gcw_html_comment {
  color: var(--html-comment);
}
.gcw_html_tag {
  color: var(--html-tag);
}
.gcw_html_key {
  color: var(--html-key);
}
.gcw_html_equal_sign {
  color: var(--html-equal-sign);
}
.gcw_html_value {
  color: var(--html-value);
}
.gcw_html_unicode {
  color: var(--html-unicode);
  font-style: italic;
}

.gcw_toggle {
  padding-left: 1em;
  margin-bottom: 1em;
}

.gcw_toggle label {
  position: relative;
  display: inline-block;
  text-transform: none;
}

.gcw_toggle input {
  display: none;
}

.gcw_toggle .slider {
  position: absolute;
  cursor: pointer;
  margin-left: 0.5em;
  width: 2.2em;
  height: 1em;
  background: rgba(255, 170, 85, 0.5);
  transition: all 0.3s ease-in-out;
  border-radius: 1em;
}

.gcw_toggle .slider:before {
  position: absolute;
  content: '';
  height: 1.3em;
  width: 1.3em;
  left: 0em;
  bottom: -0.15em;
  background: #fa5;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.gcw_toggle input:checked + .slider {
  background: rgba(255, 170, 85, 0.5);
}

.gcw_toggle input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.gcw_toggel_warn {
  padding-left: 3em;
}

.gcw_info {
  display: none;
}

input.gcw_info:checked + div.gcw_info {
  display: block;
}

div.gcw_info {
  margin: 0 0 1em 1em;
}

.gcw_btn_info {
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.3em;
  margin-left: 3em;
  border: 2px solid #fa5;
  border-radius: 50%;
  color: #fa5;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

.gcw_btn_info:hover {
  background: rgba(255, 170, 85, 0.5);
}
